.filterButton{
    background-color: #F1F3F5; 
    width: "120px"
}
.filterButton small{
    font-weight: 600;
}
.postHeadingLink{
    color: #8A8A8A;
    text-decoration: none;
    padding-bottom: 14px;
    
}
.postHeadingLink:hover{
    color: #212529;
    font-weight: 600;
    border-bottom: 2px solid black;
}